* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.body-dash {
	background-color: black;
}

li,
a,
button {
	font-family: "Secular One", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: white;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10px;
	background-color: #24252a;
}

.logo {
	cursor: pointer;
	width: 40px;
	height: 40px;
	order: 3;
	margin: auto;
}

nav {
	order: 1;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: rgba(0, 136, 169, 1);
}

button {
	margin-left: 20px;
	padding: 9px 20px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 54px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: red;
	color: white;
}

.pre-loader {
	display: flex;
	background: #1b1b1e;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	justify-content: center;
	align-items: center;
}

.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myChart{
    margin: 20px 0 5px 0;
}
.content-table {
	border-collapse: collapse;
	font-size: 0.9em;
	margin: 25px;
	min-height: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	font-family: "Secular One", sans-serif;
}

.content-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
    margin: 10px;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}

.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
	background-color: lightgray;
}

.content-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.content-table tbody tr:hover {
	font-weight: bold;
	color: #009879;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #30ff00);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #00c6ff);
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #DD1188);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #24252A);
}