* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.body-dash {
	background-color: #330000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

li,
a,
button {
	font-family: "Secular One", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: white;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10px;
	background-color: #24252a;
}

.logo {
	cursor: pointer;
	width: 40px;
	height: 40px;
	order: 3;
	margin: auto;
}

nav {
	order: 1;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: rgba(0, 136, 169, 1);
}

button {
	margin-left: 20px;
	padding: 9px 20px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 54px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: red;
	color: white;
}

.ticker-container {
	height: fit-content;
	font-family: "Secular One", sans-serif;
	display: flex;
	color: #fff;
	overflow: hidden;
}

.ticker {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: fit-content;
    justify-content: center;
    align-items: center;
}
.news {
    display: flex;
    justify-content: center;
	width: 80%;
	background: #cc4444;
	height: 10px;
	font-size: 8px;
	align-items: flex-start;
}
.title {
	width: 20%;
	text-align: start;
	background-color: #c81c1c;
	height: 10px;
	font-size: 10px;
	letter-spacing: 2px;
}

.profile-card-container {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.profile-card {
	position: relative;
	width: 350px;
	height: 85px;
	background-color: #398cc0;
	border-radius: 20px;
	transition: 0.5s ease-in;
}

.profile-card.active {
	height: 420px;
}

.toggle {
	position: absolute;
	bottom: -60px;
	left: 50%;
	width: 70px;
	height: 60px;
	background-color: #398cc0;
	transform: translateX(-50%);
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	cursor: pointer;
}
.toggle::before {
	content: "";
	position: absolute;
	left: -34px;
	width: 35px;
	height: 35px;
	background: transparent;
	border-top-right-radius: 35px;
	box-shadow: 11px -10px 0 10px #398cc0;
}
.toggle::after {
	content: "";
	position: absolute;
	right: -34px;
	width: 35px;
	height: 35px;
	background: transparent;
	border-top-left-radius: 35px;
	box-shadow: -11px -10px 0 10px #398cc0;
}

.toggle span {
	top: 50%;
	left: 50%;
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	transform: translate(-50%, -70%) rotate(405deg);
	transition: 0.5s ease-in-out;
}

.profile-card.active .toggle span {
	transform: translate(-50%, -70%) rotate(225deg);
}

.contentBx .content {
	position: relative;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: scroll;
}

.contentBx .content h2 {
	color: white;
	font-weight: 500;
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: "Secular One", sans-serif;
	letter-spacing: 0.05em;
	line-height: 1.1em;
}

.contentBx .content h2 span {
	font-size: 0.5em;
	font-weight: 400;
	text-transform: initial;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #DD1188);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #24252A);
}

.pre-loader {
	display: flex;
	background: #1b1b1e;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	justify-content: center;
	align-items: center;
}
