* {
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}

.pre-loader {
	display: flex;
	background: #1b1b1e;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	justify-content: center;
	align-items: center;
}

.error-wrapper {
	background-color: #330000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-container {
	color: white;
	background: linear-gradient(135deg, #ffffff80, rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0px 25px 50px rgb(0 0 0 / 15%);
	display: flex;
	padding: 20px;
	width: fit-content;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	height: fit-content;
	width: fit-content;
	align-content: center;
	align-items: center;
}

.error-container #code {
	font-family: "Cinzel Decorative", cursive;
	margin: 20px 20px 0px 20px;
	color: black;
	font-size: xx-large;
	font-weight: 900;
}

.error-container #code-text {
	font-family: "Secular One", sans-serif;
	margin: 5px 20px 20px 20px;
	text-align: center;
	color: black;
}

a {
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	/* box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); */
	color: white;
	background: linear-gradient(90deg, #269af5, #ff22a3, #fce93f, #269af5);
	background-size: 400%;
	padding: 2px;
	font-family: "Secular One", sans-serif;
	font-size: smaller;
	border-radius: 12px;
	transition: transform 0.3s ease;
}

a span {
	display: block;
	padding: 25px 30px;
	width: 100px;
	height: 50px;
	background: #020718;
	border-radius: 10px;
	text-align: center;
}
a:hover {
	animation: animate-gradient 10s linear infinite;
	transform: translate(-5px, -5px);
}
@keyframes animate-gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

a:before {
	content: "";
	position: absolute;
	top: -16px;
	bottom: -16px;
	left: -16px;
	right: -16px;
	background: linear-gradient(90deg, #269af5, #ff22a3, #fce93f, #269af5);
	background-size: 400%;
	z-index: -1;
	filter: blur(10px);
	opacity: 0;
	transition: 0.6s;
}

a:hover:before {
	opacity: 1;
	animation: animate-gradient 10s linear infinite;
}


::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #DD1188);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #24252A);
}