* {
	margin: 0;
	overflow: hidden;
}
.header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	font-family: "Cinzel Decorative", cursive;
	margin: 0px;
}
.body-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #330000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}
.login-form-container {
	color: white;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
	display: flex;
	padding: 20px;
	width: fit-content * 0.5;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: "Secular One", sans-serif;
	margin-top: 100px;
}

.login-button {
	padding: 10px;
}

.username-container {
	padding: 10px;
}

.password-container {
	padding: 10px;
}

.title_block {
	background-color: #DD1188;
	font-family: "Secular One", sans-serif;
	padding: 5px;
	text-align: center;
}
#title {
	margin-block-start: 0;
	margin-block-end: 0;
	color: white;
}
#college-logo-img {
	width: 40px;
	padding: 20px;
}

#icon {
	width: 10px;
}

.pre-loader {
	display: flex;
	background: #1b1b1e;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	justify-content: center;
	align-items: center;
}

input {
	font-family: "Secular One", sans-serif;

	backdrop-filter: blur(10px);
	border: 2px solid transparent;
	border-color: black;
	border-radius: 100px;
	padding-left: 16px;
	font-size: 15px;
	width: 250;
	height: 40;
}

input:hover {
	border-color: white;
}
#label-line {
	align-self: stretch;
	color: black;
}

#login:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

.header:hover {
	background-color: white;
	color: black;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #DD1188);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #24252A);
}